
td{
    max-width: 30vw;
}
.icon{
    width: 23px;
}
.iconDownload{
    margin-right: 0;
}
body{
    display: flex;
}
body > section{
    margin-left: auto;
}
.mediaPreview{
    width: 25vw;
    border-radius: 5px;
    display: block;
    /*position: absolute;*/
}
.gallery{
    height: min-content;
    width: min-content;
    column-gap: 5px;
    columns: 2;
}
@media (max-width: 1100px) {
    .gallery{
        columns: 1;
    }
}
.gallery:has(div:only-child) {
    columns: 1;
}
.gallery:not(:has(*)){
    display: none;
}
span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-left: 4px;
}
a {
    color: #c7c7c7;
    display: inline-block;
}
a:visited {
    color: #c7c7c7;
}
a:hover {
    color: #ffffff;
}
td > a{
    width: 100%;
}
header > a{
    text-decoration: none;
}
td > span{
    color: #989898;
}
.git{
    vertical-align: middle;
    margin-left: 5px;
}
footer{
    align-items: center;
    display: flex;
}
.galleryItem {
    position: relative;
}
.downloadBtn{
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    top: max(2%, 10px);
    left: max(2%, 10px);
    width: 35px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.galleryItem:hover .downloadBtn {
    opacity: 1;
}