body {
    background: #25292d;
    font-family: 'sans-serif', 'Helvetica', 'Arial', sans-serif;
    color: #5570da;
    font-size: 24px;
    padding: 3vw;
}
a:visited {
    color: #c7c7c7;
}
a {
    color: #c7c7c7;
}
header, section {
    background: #18181a;
    max-width: max-content;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}