body {
    background: #25292d;
    font-family: 'sans-serif', 'Helvetica', 'Arial', sans-serif;
    color: #5570da;
    font-size: 20px;
    padding: 3vw;
}
header, section {
    background: #18181a;
    max-width: max-content;
    padding: 10px;
    border-radius: 10px;
}
header {
    margin-bottom: 10px;
}
small{
    color: #576685
}
footer{
    margin-top: 10px;
}