<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calisto</title>
    <link rel="icon" type="image/svg" href="/icons/favicon.svg">
    <link rel="stylesheet" href="/style/master.css">
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <div>
        <header th:utext="${path}">
            /
        </header>
        <section>
            <table>
                <tbody th:utext="${files}">
                </tbody>
            </table>
        </section>
        <footer>
            <small>Hecho por Ceres</small>
            <a href="https://github.com/ceres-dev/Calisto"><img class="icon" src="/icons/github.svg" title="Repositorio del proyecto" alt="Github"></a>
        </footer>
    </div>
    <section class="gallery" th:utext="${gallery}">
    </section>

</body>
</html>
